page-questionBlocksView {

.searchinput{
    border: solid 1px #000;
    width: 90%;
    margin: 10px 5% 20px 5%;
    height: 35px;
    font-size: 1.5em;
}

.questionBlockListItem{
    width: 100%;
    padding: 0;
}

}
